In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

On commence par importer la data

In [ ]:
data_train=pd.read_csv("train.csv")
data_test=pd.read_csv("test.csv")

On visualise notre tableau de données:

In [ ]:
pd.DataFrame.head(data_train)

In [ ]:
data_train.shape

On en déduit que nous possédons 14 variables actuellement.

In [ ]:
data_train.info()

In [ ]:
data_train.shape()

## Séparation des valeurs contenues dans une donnée
La donnée **PassengerId** correspond à l'identifiant unique associé à chaque passager. Cette donnée est sous forme **gggg_pp** où :
- **gggg** correspond au groupe avec lequel le passager voyage 
- **pp** correspond au nombre de personne dans le groupe

La donnée **Cabin** sous la forme **deck/num/side** contient différentes informations:
- **deck** indique le pont dans lequel se situe la cabine
- **num** indique le numéro de la cabine 
- **side** indique le coté, celui-ci peut être *P* pour *Port* ou *S* pour *Starboard*

La donnée **Name** est composée du prénom et du nom de passager.

In [ ]:
data_train=data_train.assign(Group_id=data_train['PassengerId'].str[:4].astype(np.int16),
                             Numb_pass_group=data_train['PassengerId'].str[5:].astype(np.int16),
                             Cabin_deck=data_train['Cabin'].str.split("/").str[0],
                             Cabin_num=data_train['Cabin'].str.split("/").str[1],
                             Cabin_side=data_train['Cabin'].str.split("/").str[2],
                             First_name=data_train['Name'].str.split(" ").str[0],
                             Last_name=data_train['Name'].str.split(" ").str[1])
data_train.drop(columns=['PassengerId','Cabin','Name'], inplace=True)

In [ ]:
data_train.describe()

In [ ]:
## Visualize Correlation 
plt.figure(5, figsize=(25, 10))
corr = data_train.apply(lambda x: pd.factorize(x)[0]).corr()
mask = np.triu(np.ones_like(corr, dtype=bool))
ax = sns.heatmap(corr, mask=mask, xticklabels=corr.columns, yticklabels=corr.columns, annot=True, linewidths=.2, cmap='coolwarm', vmin=-1, vmax=1)
plt.show()

In [ ]:
sns.heatmap(data_train.corr(), annot=True, fmt=".2f")

In [ ]:
data_train.corr(method='spearman').style.format("{:.2}").background_gradient(cmap=plt.get_cmap('coolwarm'))

## Valeurs manquantes:
On commence par visualiser les valeurs manquantes dans nos données.

In [ ]:
print(data_train.isnull().sum())
sns.heatmap(data_train.isnull())

In [ ]:
print(data_train.info())

In [ ]:
if()